/* styles.css or styles.scss */

footer {
  background-color: #343a40;
}

footer h5 {
  color: #ffffff;
  font-size: 1.2rem;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #d3d3d3;
}

footer p {
  margin-top: 10px;
  color: #d3d3d3;
}
