.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  overflow: hidden;
}

.floating-card {
  background: #f8f9fa;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 800px;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.floating-card-content {
  background: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content {
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  flex: 1;
  margin: 20px;
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.graphics {
  margin-top: 20px;
}

  .graphics img {
    width: 80%;
    max-width: 100%;
    border-radius: 10px;
  }

.signup {
  flex: 1;
  margin: 20px;
  color: #000000;
}

.form-group {
  margin-bottom: 15px;
}

  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
  }

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background: orange;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

  .btn:hover {
    background: #218838;
  }
