
<div class="container">
  <div class="floating-card">
    <div class="gray-background">
        <div class="container">
          <div class="content">
            <div class="welcome">
              <h1>Welcome</h1>
              <p>Create your account to get started</p>

              <div class="graphics">
                <img src="../assets/img/business-7408289_640.jpg" alt="Shopping Cart">
              </div>
            </div>
            <div class="signup">
              <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" class="form-control" placeholder="Your Name" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" class="form-control" placeholder="yourname@example.com" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                  <label for="confirm-password">Confirm Password</label>
                  <input type="password" id="confirm-password" class="form-control" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="btn btn-orange btn-block mt-4">Sign Up</button>
              </form>
            </div>
          </div>
          </div>
      </div>
  </div>
  </div>
